@model OnlineTest.Models.TestHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TestHistory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastAttendDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastAttendDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.score)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.score)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
